# Ignore the personal documents folder
/personal-docs/

# Ignore the contents of the documents folder...
documents/*

# ...but not the .gitkeep file inside it.
!documents/.gitkeep

# Gemini context and configuration
.gemini/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec
build/
dist/
